<header class="page-header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="<%= config.root %>" class="nav-link" id="latestButton"><%= __('Latest') %></a>
      </li>
    </ul>
  </nav>
</header>
