<footer class="page-footer">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="<%= config.root + config.archive_dir %>" class="nav-link" id="archiveButton"><%= __('Archive') %></a>
      </li>
    </ul>
  </nav>
</footer>
